* {
  box-sizing: border-box;
  font-family: "Delicious Handrawn", cursive;
}

:root {
  --cell-size: 100px;
  --corner: 8px;
}

body {
  margin: 0px;
}

.start-page {
  display: none;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(skyblue, white);
  justify-content: center;
  align-items: center;
  color: teal;
  font-size: 2em;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.start-page.show {
  display: flex;
}

.start-page h1 {
  margin: 0;
}

.start-page p {
  font-size: 5rem;
  color: teal;
  margin: 0;
  padding: 0.5em;
}

.start-page button {
  font-size: 3rem;
  background-color: lightcyan;
  border: 3px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  margin: 20px;
  width: 500px;
  border-radius: var(--corner);
}

.start-page button:hover {
  color: rgb(61, 70, 205);
  background-color: lightblue;
  border: 3px solid white;
}

.game-page {
  display: none;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  /* margin: auto; */
  text-align: center;
  /* justify-content: start; */
  align-items: center;
  background-image: radial-gradient(white 30%, skyblue);
}
h1 {
  margin: 5px;
  font-size: 5em;
  color: teal;
}
h2 {
  top: 160px;
  position: absolute;
  font-size: 2em;
  margin: 0;
  color: teal;
}

.game-page.show {
  display: flex;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, auto);
  height: 600px;
  width: 600px;
  box-sizing: content-box;
  border: 50px solid rgba(135, 206, 235, 0.5);
  border-radius: 10%;
  background-color: skyblue;
  margin: auto;
}

.game-page button {
  font-size: 1.25rem;
  color: gray;
  background-color: transparent;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;
  width: 200px;
}

.game-page button:hover {
  color: rgba(61, 70, 205);
  background-color: lightblue;
}

.tile {
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1999203/blue-ice-tile-clipart-xl.png);
  background-size: cover;
  border-radius: var(--corner);
}

.tile.peng {
  cursor: not-allowed;
  border-radius: var(--corner);
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  height: 200px;
  width: 200px;
  background-image: url("https://i.pinimg.com/736x/37/20/f2/3720f2d01965ea962dacf6f4cfcbf3e4.jpg");
  border: 1px solid #f5f5f5;
}

.tile:not(peng).fell {
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid skyblue;
}

.board .tile:not(.peng):not(.fell):hover {
  content: "";
  width: var(--cell-size);
  height: var(--cell-size);
  opacity: 0.2;
}

.result-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: aquamarine;
  font-size: 5rem;
  flex-direction: column;
}

.result-page button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  margin: 30px;
  border-radius: var(--corner);
}

.result-page button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.result-page img {
  border-radius: 200px;
  height: 300px;
}

.result-page.show {
  display: flex;
}

.info-page {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.info-page.show {
  display: flex;
  /* flex-direction: column; */
  /* position: absolute; */
}

.info-panel {
  display: grid;
  position: fixed;
  grid-template-columns: 40px 480px 480px;
  grid-template-rows: 40px auto;
  height: 600px;
  width: 1012px;
  background-color: teal;
  color: orange;
  font-size: 2rem;
  border: 1px solid salmon;
  border-radius: 8px;
  overflow-y: scroll;
}

.info-panel::-webkit-scrollbar {
  width: 10px;
}
.info-panel::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}
.info-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

.info-panel span {
  text-decoration: underline;
}

.info-panel button {
  position: relative;
  background-color: salmon;
  border: 5px solid lightpink;
  /* border-radius: 8px; */
  font-size: 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.to-play-button {
  height: 40px;
  width: 480px;
  grid-area: 1/2/2/3;
}
.to-fall-button {
  height: 40px;
  width: 480px;
  grid-area: 1/3/2/4;
  border-radius: 0 8px 8px 0;
}
.exit-button {
  height: 40px;
  width: 40px;
  border-radius: 8px 0 0 8px;
}

.play-text {
  display: none;
  grid-area: 2/2/3/4;
}

.play-text li,
.fall-text li {
  padding: 20px;
}

.play-text.show {
  display: flex;
}

.fall-text {
  display: none;
  grid-area: 2/2/3/4;
}

.fall-text img {
  height: 50%;
}

.fall-text.show {
  display: flex;
}
#tiles {
  height: 30%;
}

.info-panel button:hover {
  background-color: lightpink;
  border-color: rgb(250, 249, 246);
  color: aquamarine;
}

ul {
  height: 600px;
}
